// start /components/filter/

script( src="/components/filter/script.js" )

div(style="height: 2000px; background-color: #87a; font-size: 20pt; color: lightyellow; padding: 40px; line-height: 1.4;") Высокий блок, чтобы<br>протестировать подгрузку фильтра<br>при появлении на экране.

#b77Filter(data-url="/components/filter/load.html" data-js="/components/filter/load.js" data-css="/components/filter/load.css")
      
// end /components/filter/